
*,
*::before,
*::after {
    box-sizing: border-box;}

body {
    font-family: 'Cinzel', serif;
    line-height: 1.6;
    border-radius: 15px;
    color: #E0E0E0;
    background-color: #2C3E50;
    margin: 0;
    padding: 0;

}

.container-grid {
    display: grid;
    margin-left: 15px;
    grid-template-rows: auto;
    grid-template-columns:200px auto;
    grid-template-areas:
        "header header"
        "aside main "
        "footer footer  ";
    min-height: 100vh;

    }

.header {
    grid-area: header;
    text-align: center;
    background-color: #5E5B4F;
    box-shadow: 0 4px 8px #2A3526;
    border-radius: 15px;
    margin: 15px;
}

h1{
    font-size: 60px;
    font-variant: small-caps;
    text-shadow: #2A3526 5px 5px 5px;
    margin: 15px;


}
h2{
    text-align: justify;
}



.main-content {
    grid-area: main;
    padding: 1rem;
    background-color:#2C3E50;

}

aside {
    grid-area: aside;
    background-color: #5E5B4F;
    border-radius: 15px;
    text-align: justify;

    align-self: start;
    height: 100vh;
    position: sticky;
    top: 0;
}

.navbar {
    background-color: #5E5B4F;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0 4px 8px #2A3526;
    border-radius: 10px;
    position: sticky;
    top: 20px;
}

.footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}


.navbar ul {

    border-radius: 15px;
    margin: 10px 10px;  /* Changed from 15px */
    padding: 15px;
    list-style-type: none;
    text-align: center;
}

.navbar li {
    border-radius: 5px;
    background: #2C3E50;
    margin: 10px 0px;
    padding: 0px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px #2A3526;
}

.navbar li:first-child {
    margin-top: -5px;

}
.navbar li:last-child {
    margin-bottom: -5px;
}

.navbar li:hover {
    background-color: #7a7666;
    transform: translateX(5px);
}

.navbar a {
    color: #E0E0E0;
    text-decoration: none;
    display: block;
    font-weight: 500;
    padding: 5px;
}

.navbar a:hover {
    color: #ffffff;
}

.images{
    height: auto;
    max-width: 300px;
    object-fit: contain;
    margin: 10px;
}
.main-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}



figcaption{
    text-align: center;
}


.flex-container-images{
    display: flex;
    flex-direction: row;
    flex-grow: inherit;
    justify-content: space-evenly;
    gap: 20px;
    padding: 1rem;
}

.para{
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    text-align: center;
    background-color: #09541b;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.iframe{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1rem;

}





